extends layout
block header
  div(class="row")
    div(class="small-3 large-4 columns")
      img(src="http://www.velocitypartners.net/sites/all/themes/vpa/images/logo.png" width="50%" style="margin-top:20px")
    div(class="small-9 large-4 columns")
      nav(style="margin-top:20px;")
        a(ui-sref="login" class="button") Login
        a(class="button") Table
block content
  #view(ui-view)