section(class="modal-container")
  form(name="newUserForm", ng-submit="saveNew()", novalidate)
    div(class="row")
      label(class="small-6") Name   
      input(class="small-6", type="text", required)
    div(class="row")
      label(class="small-6") Plate
      input(class="small-6", type="text", required)
    div(class="row")
      label(class="small-6") type       
      select(class="small-6")
        option Car
        option Motorcycle
    div(class="row")
      button(class="button right") Save