section(class="modal-container")
  form
    div(class="row")
      label(class="small-6") Name   
      input(class="small-6", type="text")
    div(class="row")
      label(class="small-6") Plate
      input(class="small-6", type="text")
    div(class="row")
      label(class="small-6") type       
      select(class="small-6")
        option Car
        option Motorcycle
    div(class="row")
      button(class="button right", ng-click="filter.saveNew()") Save