table(class="row")
  thead
    tr
      th Name
      th Plate
      th Type
      th Options
      th Active
  tr(ng-repeat="slot in slots.spots | filter: data")
    td {{slot.name}}
    td {{slot.plate}}
    td
      i(class="fa fa-car fa-2x",ng-class="{'fa-motorcycle fa-2x': slot.type === 'motorcycle'}")
    td
      ul(class="button-group")
        li
          a(class="fa fa-pencil large button success fa-2x", ng-click="edit")
        li
          a(class="fa fa-trash large button alert fa-2x", ng-click="delete")
    td
      div(class="switch")
        input(id="{{'switch-' + $index}}", type="checkbox", ng-click="slots.assignSlot(slot.plate)", ng-checked="slot.active")
        label(for="{{'switch-' + $index}}")
