ul(class="small-6 inline-list columns")
  li
    input(type="text", ng-model="data", placeholder="search", ng-change="filter.hasChanged()")
  li
    button(class="button small", ng-click="filter.newVehicle()") Add new item