/**
 * Header Elements
 */

 header {
  background-color: $base-color;
  height: 80px;
  padding-top: 18px;
  div {
    height: 100%;
  }
 }

 .logo {
  max-width: 167px;
  min-width: 140px;
 }

 /**
 * Content Elements
 */

.content-container {
  padding: 2em 0;
  .page-title {
    padding: 1em 0;
  }
}