/**
 * Header Elements
 */

 header {
  background-color: $base-color;
  height: 80px;
  padding-top: 18px;
  div {
    height: 100%;
  }
 }

 .logo {
  max-width: 167px;
  min-width: 140px;
 }

 /**
 * Content Elements
 */

.content-container {
  padding: 2em 0;
  .page-title {
    padding: 1em 0;
  }
}

 /**
 * Parking counter element
 */
.counter-container {
  height: 44px;
}

.lots-title {
  display: table;
  width: 6em;
  height: 100%;
  background-color: $base-button-color;
  p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }
}

.lots-number {
  display: table;
  width: 3em;
  height: 100%;
  background-color: $secundary-button-color;
  p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }
}

